@model PasswordGenerator.Models.PasswordViewModel
@{
    ViewData["Title"] = "Token";
}

<script>
    function startTimer(duration, display) {
        var timer = duration, seconds;
        var end = setInterval(function () {
            seconds = parseInt(timer % 60, 10);

            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = seconds;

            if (--timer < 0) {
                window.location = "@Url.Action("Index", "Home")";
            }
        }, 1000);
    }

    window.onload = function () {
        var fiveMinutes = 30,
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };
</script>

<div class="text-center">
    <p>
        Your token is: @Model.Password
    </p>
    
<div>Registration closes in <span id="time">30</span> seconds.</div>
</div>
